matplotlib==3.7.2
mysql==NA
numpy==1.26.4
pandas==2.2.1
plotly==5.9.0
pymysql==1.4.6
scipy==1.11.1
seaborn==0.11.0
session_info==1.0.0
sqlalchemy==2.0.29
streamlit==1.32.0
tableone==0.8.0
